@font-face {
    font-family: 'Bender';
    src: url('Bender-Bold.woff2') format('woff2'),
        url('Bender-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

